{{!< default}}

<div class="posts">
  {{#foreach posts}}
          <article class="sheet-panel">
            <header>
              <a class="sheet-post {{post_class}}" href='{{url}}'>
                <h2 class="sheet-title sheet-post-title">{{{title}}}</h2>
              </a>
              <div class="sheet-post-meta">
                <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                {{#if tags}}
                  <i class="fa fa-tags sheet-post-tags"></i> {{tags}}
                {{/if}}
              </div>
            </header>

            <section>
              <p class="sheet-post-excerpt">{{excerpt}}&hellip;</p>
              <a class="sheet-post {{post_class}}" href='{{url}}'>
                <div class="sheet-read-more">READ MORE <i class="fa fa-caret-right"></i></div>
              </a>
            </section>
          </article>
  {{/foreach}}

  {{pagination}}
</div>
